# This is Git's per-user configuration file.
[user]
	name = tozaicevas
	email = tozaicevas@gmail.com
[alias]
	add-commit = !git add -A && git commit -m
	add-commit-push = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
[pager]
	branch = false
